:host{
	font-family: "Trebuchet MS"; 
	box-sizing: border-box;
	border:1px solid #aaa; 
	box-shadow: 0 0 20px 0 #aaa; 
	max-width:900px; 
	width:100%; 
	margin:0 auto; 
	background-color:#fff; 
	padding:1em;
}