@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
	--couleurSombre1:#333333;
	--couleurSombre2:#2552AC;
	--couleurClaire1:#F8F9FA;
}

html{
	font-size:15px;
}

html, body{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	padding:0;
	margin:0;
	background-color: white;
	height: 100%;
}

body{
	display:flex;
	flex-direction:column;
}

strong{
	font-weight: 700;
}

.contenu{
	flex:1
}

.piedPage{
	background:var(--couleurClaire1);
	text-align:center
}

p a{
	color:var(--couleurSombre2)
}

.logo{
	margin:1em;
}

.lettreActuSiteWeb_ti,
.rubrique_ti,
.article_ti{
	background:var(--couleurClaire1);
	color:var(--couleurSombre1);
	padding:1.4rem;
	margin:0;
	display:inline-block;
	font-weight:700;
	font-size: 1.4rem;
}

.article_ti{
	background:var(--couleurSombre1);
	color:white;
}

.lettreActuSiteWeb_ti{
	background:var(--couleurSombre1);
	color:white;
}

.accesArticle_ti{
	background:var(--couleurSombre2);
	color:white;
	padding:1rem;
	margin:0;
	/* text-transform:uppercase; */
	display:inline-block;
	font-weight:700;
	font-size: 1.1rem;
}

.introSiteWeb_co,
.introRubrique_co {
	padding:2rem;
	padding-top: 0;
	max-width:1200px;
	margin:auto;
}

.introSiteWeb_ti,
.introRubrique_ti{
	background:var(--couleurSombre2);
	color:white;
	padding:1.4rem;
	margin:0;
	text-transform:uppercase;
	display:inline-block;
	font-weight:700;
	font-size: 1.2rem;
	display:none
}

.tableau_tb{
	margin-left:auto;
	margin-right:auto;
	padding:0;
	cellpadding:0;
	cellspacing:0;
	width:auto;
	border-collapse:collapse;
	border-spacing: 0;
}

.tableau_tb th{
	background-color:var(--couleurSombre2);
	padding-left:10px;
	padding-right:10px;
	border-color:#ffffff;
	border-style:solid;
	border-width:1px;
	width:auto
}

.tableau_tb td{
	border-color: var(--couleurSombre2);
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-right: 10px;	
}

.tableau_tb th *{
	color:white
}

.tableau_tb .word_tbtd {
	text-align:center
}

.tableau_tb .num_tbtd  {
	text-align:right
}

.rubriques,
.articles {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width:1200px;
    margin:auto;
    align-items: baseline;
}

.rubriques{
    align-items: unset;
}
.lienAccesRubrique{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	color:white;
	background:var(--couleurSombre2);
	padding:2rem;
	text-decoration:none;
	width:200px;
	font-size: 0.8rem;
	transition:0.4s;
	margin:1rem;
}

.blocAccesArticle{
	justify-content:center;
	text-decoration:none;
	width: 300px;
	transition:0.4s;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	margin:1rem
}

.accesArticle {
	display:flex;
	flex-direction:column;
}

.accesArticle_co  {
	order:1;
	position:relative
}

.accesArticle_co img {
	width:100%
}

.accesArticle_ti  {
	order:2;
}

.articleDate{
/*	position:absolute;
	left:0;
	background:var(--couleurSombre2);
	bottom:0;
	color:white;
	padding:0.5rem;
	padding-bottom:0;
	font-weight:600;
	font-size:1rem*/
	margin-top:1em
}

.lienAccesRubrique:hover,
.lienAccesArticle:hover{
/*    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);*/
    box-shadow: 0 14px 25px #999;
}

.accesRubrique_ti{
	/* font-size:1.1rem; */
	text-align: center;
}

.lienAccesArticle{
	text-decoration:none;
	transition:0.4s;	
}

.contenuArticle,
.resumeArticle {
    max-width:1200px;
    margin:auto;
    padding: 1em;
}

.resumeArticle {
	background-color: var(--couleurClaire1);
}

.enteteArticle{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-bottom:2rem;
    margin-top:0.5rem;
    margin-left:0.5rem;
}

.auteur,
.article .articleDate{
	color:var(--couleurSombre2);
	margin:0;
	display:inline-block;
	font-weight:700;
}

.titreAuteur {
	display: none;
}

.pied_de_page > *:first-child{
	display:none
}

.pied_de_page{
	background:var(--couleurClaire1);
	border-top:1px solid var(--couleurSombre2);
	padding:2rem;
	margin-top:2rem
}

.pied_de_page > div{
	max-width:1200px;
	margin:auto
}

.info_titre{
    font-variant: all-small-caps;
    font-size: 1.3rem;
    font-weight: 700;
}

.basic {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 1.5em;
	padding:0.5em;
	background:white;
	padding-bottom:0.01em
}

.basic_contenu{
	padding:0 0.5rem
}

.basic_titre{
	font-variant: all-small-caps;
	font-size: 1.3rem;
	font-weight: 700;
	text-align: right;
}

.comp{
	background-color: white;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: var(--couleurSombre2);
    border-style: solid;
    border-width: 1px;
}

.comp_titre{
	font-variant: all-small-caps;
    font-size: 1.2em;
    font-weight: 700;
}

.partie > div{
	margin-left: 40px;
}

::marker{
	color:var(--couleurSombre2);
}

.retour{
	background:var(--couleurSombre2);
	color:white;
	text-transform: uppercase;
	text-decoration:none;
	padding:0.5em;
	font-weight:700;
	display:inline-block;
    padding-top: 0.7em;
    padding-right: 0.7em;
}

.binDesc{
	font-size: 1px;
	color: white;
	opacity: 0;
}

video{
	max-width: 80%;
}

.txtRes {
    display: flex;
    flex-flow: row;
}

.txtRes .img {
/*    flex: 0 0 auto;*/
}

.txtRes .txt {
    flex: 1 1 auto;
    align-self: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

img{
	max-width: 100%;
	height: auto;
}

.txtRes img{
	max-width: unset;
}

figure{
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}

/*=====================*/

@media (max-width: 700px){ 
}
